/build/
/build*/
/sdkconfig
/sdkconfig.old

*.o
*.obj
*.elf
*.bin
*.map
*.hex


*.d

CMakeCache.txt
CMakeFiles/
/Makefile
/cmake_install.cmake
/build/

__pycache__/
/*.pyc
/*.pyo

/venv/
/.env/

*.elf.*
*.log.*